.layout--content__kicker-list
  .content--container
    %h1 Kickers &amp; Punters <em>list for 2014</em>
    .find-kicker
      %ul.content-nav
        - @kickers.each do |kicker|
          %li
            =image_tag("#{kicker.mug_shot_url}", :class => "kicker--headshot")
            .kicker--name=kicker.users.first().full_name
            .kicker--rating
              - 1.upto(3) do |s|
                %i.fa.fa-star
            .kicker--bio=link_to "", kicker

    = link_to 'New Kicker', new_kicker_path
