.layout--content__terms
  .container
    %h1 Terms
    .panel
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, tempora, quae, vel dolor nam quis ullam libero omnis quia repudiandae tenetur pariatur aliquam nemo impedit iusto harum in. Sed, nesciunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, similique, explicabo, corporis aliquid ipsa enim voluptate temporibus accusantium consequuntur dignissimos praesentium debitis ea quisquam alias excepturi molestiae consectetur necessitatibus magni.

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, tempora, quae, vel dolor nam quis ullam libero omnis quia repudiandae tenetur pariatur aliquam nemo impedit iusto harum in. Sed, nesciunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, similique, explicabo, corporis aliquid ipsa enim voluptate temporibus accusantium consequuntur dignissimos praesentium debitis ea quisquam alias excepturi molestiae consectetur necessitatibus magni.

      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, tempora, quae, vel dolor nam quis ullam libero omnis quia repudiandae tenetur pariatur aliquam nemo impedit iusto harum in. Sed, nesciunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, similique, explicabo, corporis aliquid ipsa enim voluptate temporibus accusantium consequuntur dignissimos praesentium debitis ea quisquam alias excepturi molestiae consectetur necessitatibus magni.
    #demo-form.demo-description{style: "display: none; "}
      %p
        The basic dialog window is an overlay positioned within the viewport and is protected from page content
        (like select elements) shining through with an iframe. It has a title bar and a content area, and can be moved,
        resized and closed with the 'x' icon by default.
    = link_to_modal "Demo Form", "#demo-form", :class=>"button"