// TODO: these all need to be extracted into a separate view.
%highlight-content
  +breakpoint($sm-min-screen)
    height: rhythm(16)
    +highlight(lighten($black, 20%))
  +breakpoint($lg-min-screen)
    height: rhythm(24)
    +highlight($primary-color)
  h1
    text-transform: none
    +links($white)
    a
      +font("thin")
      margin-left: rhythm(2)
    +breakpoint($sm-min-screen)
      text-align: center
      +adjust-font-size-to(20px)
      +adjust-leading-to(14)
    +breakpoint($lg-min-screen)
      text-align: right
      +adjust-font-size-to(24px)
      +adjust-leading-to(16)

%masthead
  background-color: $white
  border-bottom: $light-gray-border
  padding: $default-padding / 2 
  p
    +adjust-leading-to(6)
    clear: both
    text-align: center
    padding: $default-padding
    border: $light-gray-border
    +font("thin")
  #{headings()}
    +margin-trailer(2)
  h2
    +adjust-leading-to(4)
    +margin-trailer(0)


%follow
  background-color: complement($primary-color)
  color: $white
  padding: $default-padding / 2
  a
    color: $white
    +adjust-font-size-to(12px)
    text-decoration: none
    
%normal-content
  background-color: $white
  #{headings()}
    +margin-trailer(2)
  p, li
    +adjust-leading-to(6)
  table
    img
      +border-radius(100%)
      height: rhythm(12)
      width: rhythm(12)
  +panel($light-gray)
  +breakpoint($sm-min-screen)
    padding: $default-padding / 2
    input[type="submit"]
      width: 100%
  +breakpoint($lg-min-screen)
    input[type="submit"]
      width: auto
  
